/* VARIABLES*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#background {
  width: 100%;
  height: 750px;
  background: url(../img/fondo.png) no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr 100px;
  grid-template-rows: 100px 1fr;
  grid-row-gap: 2rem;
}
#background nav {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
#background nav .menu-principal {
  display: inline-grid;
  grid-template-columns: 16fr 4fr 3fr;
  padding: 0 2rem;
  margin-top: 2rem;
}
#background nav .menu-principal li {
  padding: 0 0.8rem;
}
#background nav .menu-principal li a {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
#background nav .menu-principal li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
#background nav .menu-principal li:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
#background nav .menu-principal li:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
}
#background #lateral {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  padding-top: 14rem;
}
#background #lateral .social-media {
  text-transform: uppercase;
  display: flex;
  transform: rotate(-90deg);
}
#background #lateral .social-media li {
  padding: 0 0.8rem;
}
#background #lateral .social-media li a {
  color: #7100C3;
  font-weight: 600;
  font-size: 20px;
}
#background .posData {
  transform: rotate(-90deg);
  position: absolute;
  left: -7rem;
  top: 21rem;
}
#background .posData span {
  color: #7100C3;
  font-size: 24px;
}
#background article {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 360px;
  height: 360px;
  background: #7100C3;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
#background article ul {
  padding: 0 2rem;
}
#background article ul li {
  font-size: 20px;
  color: white;
}
#background #titulo {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
#background #titulo h1 {
  font-size: 80px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

/*.link
 *  &::before
 *      background: red
 *  &:hover
 *      ::before
 *      content: ""
 *      position: absolute
 *      overflow: hidden
 *      bottom: 8px
 *      top: 8px
 *      height: auto
 *      opacity: 0.5
 *      left: -5px
 *      right: -5px    
 *      transform: scaleX(0)
 *      transform-origin: bottom right
 *      transition-duration: 400ms
 *      transition: transform 800ms cubic-bezier(1, 0, 0, 1) 0ms
 *      z-index: 0*/
 *      //backdrop-filter: hue-rotate(120deg) */