/* VARIABLES*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:focus{
  color: #7100C3;
}

a:hover{
  color: #9a29ea;
}


#fondo {
  width: 100%;
  height: 750px;
  background: url(../img/fondo.jpg) no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 2fr 100px;
  grid-template-rows: 100px 1fr;
  grid-row-gap: 2rem;
}
#fondo nav {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
#fondo nav .menu-principal {
  display: inline-grid;
  grid-template-columns: 16fr 4fr 3fr;
  padding: 0 2rem;
  margin-top: 2rem;
}
#fondo nav .menu-principal li {
  padding: 0 0.8rem;
}
#fondo nav .menu-principal li a {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
#fondo nav .menu-principal li:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
#fondo nav .menu-principal li:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
#fondo nav .menu-principal li:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
}
#fondo #lateral {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  padding-top: 14rem;
}
.social-media {
  text-transform: uppercase;
  display: flex;
  transform: rotate(-90deg);
}

.social-media::-webkit-scrollbar {
  display: none;
}

#fondo #lateral .social-media li {
  padding: 0 0.8rem;
}
#fondo #lateral .social-media li a {
  color: #7100C3;
  font-weight: 600;
  font-size: 20px;
}
#fondo .posData {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  transform: rotate(-90deg);
  position: absolute;
  left: -7rem;
  top: 24rem;
}
#fondo .posData span {
  color: #7100C3;
  font-size: 24px;
}
#fondo article {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 393px;
  height: 497px;
  background: rgba(113, 0, 195, 0.302);
  box-shadow: 23px 23px 0px #560094,
  -23px -23px 0px #8c00f2;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  margin-top: -2rem;
  margin-left: -2rem;
}
#fondo article ul {
  padding: 0 2rem;
}
#fondo article ul li {
  font-size: 20px;
  color: white;
  font-weight: 500;
}
#fondo #titulo {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-left: -2rem;
}
#fondo #titulo h1 {
  font-size: 80px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#a33aee, #7100c3);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}
.circl1 {
  top: -25px;
  right: -25px;
}

.circl2 {
  bottom: 20px;
    left: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}
.heart{
  animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes loader45 {
  0% {
   transform: scale(0.95);
  }
 
  5% {
   transform: scale(1.1);
  }
 
  39% {
   transform: scale(0.85);
  }
 
  45% {
   transform: scale(1);
  }
 
  60% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(0.9);
  }
 }

@media (max-width: 768px) {
  #fondo nav {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  #fondo nav .menu-principal {
    grid-template-columns: 6fr 4fr 3fr;
  }
  #fondo #lateral {
    padding-top: 28rem;
  }
  #fondo .posdata {
    grid-column-start: 1;
    grid-column-end: 2;
    top: 33rem;
  }
  #fondo article {
    max-width: 270px;
    height: 270px;
    margin-top: -2rem;
    margin-left: -4rem;
  }
  #fondo #titulo > h1 {
    font-size: 50px;
    margin-top: 7rem;
  }
}

@media (max-width: 500px) {
  #fondo {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 90px 290px 2fr 1fr;
    grid-row-gap: 0;
    height: 1000px;
  }
  #fondo nav {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #fondo nav .menu-principal {
    grid-template-columns: 90px 1fr 1fr;
    padding: 0 0.5rem;
  }
  #fondo #lateral {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 0;
  }
  #fondo #lateral .social-media {
    transform: rotate(0deg);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #fondo #lateral .social-media li > a {
    color: white;
    font-size: 25px;
  }
  #fondo .posData {
    transform: rotate(0deg);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    position: unset;
    align-self: end;
    justify-self: center;
  }
  #fondo .posData span {
    color: white;
    font-size: 25px;
    font-weight: 500;
  }
  #fondo article {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 4rem;
    margin-left: 0rem;
    justify-self: center;
  }
  #fondo article ul {
    padding: 0 3rem;
  }
  #fondo article ul li {
    font-size: 27px;
  }
  #fondo #titulo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 1.5rem;
  }
  #fondo #titulo h1 {
    font-size: 49px;
  }
}