@import "lib/_variables"

*
    margin: 0
    padding: 0
    font-family: 'Poppins', sans-serif
    overflow-x: hidden

li
    list-style: none

a
    text-decoration: none

#fondo
    width: 100%
    height: 750px
    background: url(../img/fondo.jpg) no-repeat center center
    background-size: cover
    display: grid
    grid-template-columns: 1fr 3fr 1fr 2fr 100px
    grid-template-rows: 100px 1fr
    grid-row-gap: 2rem

    nav
        grid-column-start: 1
        grid-column-end: 6
        grid-row-start: 1
        grid-row-end: 2

        .menu-principal
            display: inline-grid
            grid-template-columns: 16fr 4fr 3fr
            padding: 0 2rem
            margin-top: 2rem

            li
                padding: 0 .8rem
                a
                    font-weight: 600
                    font-size: 20px
                    color: white
            li:nth-child(1)
                grid-column-start: 1
                grid-column-end: 2
            li:nth-child(2)
                grid-column-start: 2
                grid-column-end: 3
            li:nth-child(3)
                grid-column-start: 3
                grid-column-end: 4
    #lateral
        grid-column-start: 5
        grid-column-end: 6
        grid-row-start: 2
        grid-row-end: 3
        align-self: center
        padding-top: 14rem

        .social-media
            text-transform: uppercase
            display: flex
            transform: rotate(-90deg)
            li
                padding: 0 .8rem
                a
                    color: $primary
                    font-weight: 600
                    font-size: 20px

    .posData
        grid-column-start: 1
        grid-column-end: 2
        grid-row-start: 2
        grid-row-end: 3
        transform: rotate(-90deg)
        position: absolute
        left: -7rem
        top: 24rem

        span
            color: $primary
            font-size: 24px

    article
        grid-column-start: 2
        grid-column-end: 4
        grid-row-start: 2
        grid-row-end: 3
        max-width: 360px
        height: 360px
        background: $primary
        border-radius: 100%
        display: flex
        align-items: center
        margin-top: -5rem
        margin-left: -2rem
        ul
            padding: 0 2rem
            li
                font-size: 20px
                color: white
                font-weight: 500
    #titulo
        grid-column-start: 4
        grid-column-end: 5
        grid-row-start: 2
        grid-row-end: 3
        margin-left: -2rem
        h1
            font-size: 80px
            color: white
            font-weight: 900
            text-transform: uppercase

    @media (max-width: 768px)
        nav
            grid-column-start: 1
            grid-column-end: 6
            .menu-principal
                grid-template-columns: 6fr 4fr 3fr
        #lateral
            padding-top: 28rem

        .posdata
            grid-column-start: 1
            grid-column-end: 2
            top: 33rem

        article
            max-width: 270px
            height: 270px
            margin-top: -2rem
            margin-left: -4rem

        #titulo > h1
            font-size: 50px
            margin-top: 7rem
    
@media (max-width: 500px)
    #fondo
        grid-template-columns: 1fr 4fr
        grid-template-rows: 90px 290px 2fr 1fr
        grid-row-gap: 0
        height: 1000px

        nav
            grid-column-start: 1
            grid-column-end: 3
            .menu-principal
                grid-template-columns: 90px 1fr 1fr
                padding: 0 .5rem

        #lateral
            grid-column-start: 1
            grid-column-end: 3
            grid-row-start: 4
            grid-row-end: 5
            padding-top: 0

            .social-media
                transform: rotate(0deg)
                flex-wrap: wrap
                align-items: center
                justify-content: center
                li> a
                    color: white
                    font-size: 25px

        .posData
            transform: rotate(0deg)
            grid-column-start: 1
            grid-column-end: 3
            grid-row-start: 4
            grid-row-end: 5
            position: unset
            align-self: end
            justify-self: center
            span
                color: white
                font-size: 25px
                font-weight: 500

        article
            grid-column-start: 1
            grid-column-end: 3
            grid-row-start: 3
            grid-row-end: 4
            background: rgba(113, 0, 195, 0.3)
            margin-top: 4rem
            margin-left: 0rem
            justify-self: center
            ul
                padding: 0 3rem
                li
                    font-size: 27px

        #titulo
            grid-column-start: 1
            grid-column-end: 3
            grid-row-start: 2
            grid-row-end: 3
            padding-left: 1.5rem

            h1
                font-size: 49px